repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.13
        args: [ "--line-length=100" ]
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [ --max-line-length=100, --extend-ignore=E402 ]
  - repo: local
    hooks:
      - id: unittest
        name: Run Unittest
        # "discover" finds all files matching the pattern
        entry: uv run python -m unittest discover -s tests -p "test*.py"
        language: system
        types: [ python ]
        pass_filenames: false
        verbose: true
